<template>
  <div class="<%= name %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: '<%= name %>',
  props: {
    msg: String
  },
  data() {
    return {
      msg: '<%= name %>'
    }
  }
}
</script>

<style scoped>
.<%= name %> {

}
</style>
